In [ ]:
print("Hello World")

Hello World

In [ ]:
message = "hello world"
print(message)

hello world

In [ ]:
m = """Bobby 's World was a good
catrtoon in the 1999"""

In [ ]:
print(m)

Bobby 's World was a good
catrtoon in the 1999

In [ ]:
print(len(message))

11

In [ ]:
print(message[10])

d

In [ ]:
print(message[0:10])

hello world

In [ ]:
#list and touple
c_1 = ['Maths', 'hist','phy','chem']
print(c_1)

['Maths', 'hist', 'phy', 'chem']

In [ ]:
c_1.append('arts')

In [ ]:
c_1.insert(0,'Eng')

In [ ]:
c_2 = ['geo','comp']
c_1.extend(c_2)

In [ ]:
c_1.pop()
print(c_1)

['Eng', 'Maths', 'hist', 'phy', 'chem', 'arts', 'geo']

In [ ]:
c_1.reverse()

In [ ]:
print(c_1)

['geo', 'arts', 'chem', 'phy', 'hist', 'Maths', 'Eng']

In [ ]:
c_1.sort()

In [ ]:
print(c_1)

['Eng', 'Maths', 'arts', 'chem', 'geo', 'hist', 'phy']

In [ ]:
sorted_c_1 = sorted(c_1):
print(sorted c_1)

SyntaxError: ignored

In [ ]:
num = [1,2,4,9,6]
num.sort()

In [ ]:
print(sum(num))

22

In [ ]:
print(num.index(1))

0

In [ ]:
print(c_1.index('Eng'))

0

In [ ]:
print('Math' in c_1)

False

In [ ]:
for item in c_1:
  print(item)

Eng
Maths
arts
chem
geo
hist
phy

In [ ]:
 for index, c_1 in enumerate(c_1):
   print(index,c_1)

0 Eng
1 Maths
2 arts
3 chem
4 geo
5 hist
6 phy

In [ ]:
c_3_str = ','.join(c_1)
new_list = c_3_str.split(' -')
print(c_3_str)
print(new_list)

p,h,y
['p,h,y']

In [ ]:
# dictionaries
stu = {'name':'john','age':25,'courses':['maths','Science']}
print(stu['courses'])

['maths', 'Science']

In [ ]:
stu['phone']=9090
stu['name'] = 'jane'
print(stu)

{'name': 'jane', 'age': 25, 'courses': ['maths', 'Science'], 'phone': 9090}

In [ ]:
del stu['age']

In [ ]:
print(stu)

{'name': 'jane', 'courses': ['maths', 'Science'], 'phone': 9090}

In [ ]:
print(len(stu))

3

In [ ]:
for key, value in stu.items():
  print(key,value)

name jane
courses ['maths', 'Science']
phone 9090